#particles-js{
    /* background-color: firebrick; */
    background-image: linear-gradient(to right, #000c12 , #021f49);
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #333;
}

#overlay{
    background:transparent;
    /* background: #fff; */
    opacity: 0.9;
    padding: 0;
    /* border: #ccc 2px solid; */

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#overlay h1{
    margin: auto;
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orange;
}

#overlay h3{
    font-size: 35px;
    text-align: center;
    color: lightblue;
}

@media only screen and (max-width: 600px) {
    #overlay h1{
        font-size: 50px !important;
    }

    #overlay h3{
        font-size: 20px !important;
    }
  }