#particles-js{
    /* background-color: firebrick; */
    background-image: linear-gradient(to right, #000c12 , #021f49);
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #333;
}

#overlay{
    background:transparent;
    /* background: #fff; */
    opacity: 0.9;
    padding: 0;
    /* border: #ccc 2px solid; */
    position: absolute;
    /* top: 100px; */
    /* left: 50px; */
    height: 100vh;
    width: 100vw;
}

#overlay h2{
    margin: auto;
    color: white;
    text-align: center;
}